<nav id="navigation" style="cursor:pointer;">
  
    <form class="form-inline">
      <input class="form-control mr-sm-2" (keyup)="searchTerm$.next($event.target.value)" placeholder="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      <button type="button" style="margin-left:10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
          <img src="../../assets/icons8/icons8_Menu_16.png">
      </button>
      <button type="button" style="margin-left:10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          <b>+Add</b>
        </button>
    </form>
    <div *ngIf="results" class="list-group">
        <p *ngFor="let result of results | slice:0:9" class="list-group-item">
          <a href="{{result.latest}}" target="_blank">
            {{result.display_name}}
          </a>
        </p>
      </div>
   
<!-- Button List Item -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Location List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <app-list-view></app-list-view>
        <div class="modal-footer">
          <button type="button" (click)="downloadFromLocalStorage()" class="btn btn-primary">Download <img src="../../assets/icons8/icons8_Download_16.png"></button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
      <!-- Button Form Add -->


  <!-- Modal -->
  <div style="cursor:pointer;" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class=" form-group">
            <tr>
              <td>longitude: </td>
              <td>latitude: </td>
            </tr>
            <tr>
              <td><input type="number" class="form-control" placeholder="longitude..."></td>
              <td><input type="number" class="form-control" placeholder="latitude"></td>
            </tr>
          </table>
          <br>
          Location Name:
          <br>
          <input type="text" class="form-control" style="text-transform:capitalize;text-decoration:black;" name="name" placeholder="location name..." [(ngModel)]="locationName" value="{{locationName}}">
          <br>
          <br>
          Description:
          <br>
          <textarea class="form-control" name="desc" placeholder="description...." [(ngModel)]="locationDesc">{{locationDesc}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addLocation(); refresh();">Add to list</button>
        </div>
      </div>
    </div>
  </div>
</nav>
