<nav id="navigation" class="navbar navbar-light bg-light" style="cursor:pointer;">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>    
<!-- Button List Item -->
<button type="button" style="margin-left:10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    <img src="../../assets/icons8/icons8_Menu_16.png">
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Location List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <app-list-view></app-list-view>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
      <!-- Button Form Add -->
<button type="button" style="margin-left:10px;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    <b>+Add</b>
  </button>
  
  <!-- Modal -->
  <div style="cursor:pointer;" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class=" form-group">
            <tr>
              <td>longitude: </td>
              <td>latitude: </td>
            </tr>
            <tr>
              <td><input type="number" class="form-control" placeholder="longitude..."></td>
              <td><input type="number" class="form-control" placeholder="latitude"></td>
            </tr>
          </table>
          <br>
          Location Name:
          <br>
          <input type="text" class="form-control" name="name" placeholder="location name..." [(ngModel)]="locationName" value="{{locationName}}">
          <br>
          <br>
          Description:
          <br>
          <textarea class="form-control" name="desc" placeholder="description...." [(ngModel)]="locationDesc">{{locationDesc}}</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" (click)="addLocation()">Add to list</button>
        </div>
      </div>
    </div>
  </div>
</nav>