<div id="navigation">
    <div id="search" class="box-frame on-menu">
        <form>
            <mat-form-field class="matInput">
                <input matInput placeholder="Search">
            </mat-form-field>
            <button mat-raised-button>
                <mat-icon aria-label="Example icon-button with a search icon">search</mat-icon>
            </button>
            <button type="button" mat-raised-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </form>
    </div>
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav on-menu" mode="side">
            <h3>Search Manual</h3>
            <hr>
            <mat-form-field>
                <input matInput placeholder="Latitude">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Longitude">
            </mat-form-field>
        </mat-drawer>
    </mat-drawer-container>
</div>
