<div id="navigation">
    <div id="search" class="box-frame on-menu">
        <form>
            <mat-form-field class="matInput">
                <input type="text" placeholder="Search" aria-label="Location" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="green" 
                    mat-raised-button
                    disableRipple
                    matTooltip="Search location">
                <mat-icon aria-label="search">search</mat-icon>
            </button>
            <button class="green" 
                    type="button" 
                    mat-raised-button 
                    disableRipple
                    matTooltip="Toggle list location"
                    (click)="list.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-raised-button 
                    disableRipple
                    [class.green]="!markersOn"
                    [class.active]="markersOn"
                    matTooltip="Toggle add Markers"
                    (click)="add.toggle(); toggleMarkers(!markersOn)">
                <mat-icon>add_location</mat-icon>
            </button>
        </form>
    </div>

    <!-- list -->
    <mat-drawer-container class="container" autosize>
        <mat-drawer #list class="sidenav on-menu box-frame" mode="side">
            <app-location-list></app-location-list>
        </mat-drawer>
    </mat-drawer-container>

    <!-- add -->
    <mat-drawer-container class="container">
        <mat-drawer #add class="sidenav on-menu box-frame" mode="side">
            <app-location-add (locationAdded)="addLocation($event)"></app-location-add>
        </mat-drawer>
    </mat-drawer-container>
</div>
