#navigation {
    margin: 15px;
    position: absolute;
    z-index: 1000;
}

#search {
    height: 100px;    
    padding: 5px 20px 5px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-left: 6px solid #00cec9;
}

.matInput {
    width: 350px;
    font-size: 20px;
    margin-top: 5px;
}

#search button {
    margin-right: 10px;
}

#search button.green {
    background-color: #00cec9;
    color: #fff;
}

.container {
    position: absolute;
    top: 120px;
    height: 400px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
}

.sidenav {
    width: 320px;
    border-bottom: 6px solid #00cec9;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
}

.side2 {
    padding: 20px;
}

.active {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}


@media (max-width: 768px) {
    #navigation, #search {
        min-width: 80%;
        max-width: 98%;
    }   
}

@media (max-width: 320px) {
    #navigation, #search {
        width: 100%;
    }   
}